.vs
.vscode
[Bb]in/
[Oo]bj/
bin
obj
.idea
/examples/compile_test.exe
/src/ProLang/msbuild.binlog
build_errors.txt
run_errors.txt
System.Collections.NonGeneric.dll
System.Console.dll
System.Private.CoreLib.dll
System.Runtime.dll
src/ProLang/Intermediate/Conversion.cs
build_errors.txt
*.exe
*.dll

